
* {
    border-radius : 0.5em;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

section {
  display: -webkit-flex;
  display: flex;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #a3b1bd;
  padding: 20px;
  height: ;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0px;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 5px

}
button {
    width: 15em;
    height: 2em;
    border: ;
    font-size: 1em;
}
container {
    position: relative;
    font-family: Arial;
  }
  
text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
img{
    width: 100%;
    height: 20%;
    border: black;
}
but{
    padding-left: 15em;
    padding-right: 15em;
}
sec{
     height: 100%; 
}
a{
  text-decoration: None;
  color: black; 
}
